@import "tailwindcss";

:root {
	/* Colores personalizados estilo Apple */
	--color-black: #1d1d1f;
	--color-white: #f5f5f7;
	--color-blue: #0071e3;
	--color-blue-dark: #0077ed;
	--color-gray-light: #f5f5f7;
	--color-gray: #86868b;
	--color-gray-dark: #424245;
	--color-border: #d2d2d7;
	--color-error: #c81e1e;
}
